.projectItemWrapper {
    width: 30%;
    height: 500px;
    margin: 5px;
    background-color: #5f5552;
    border-radius: 2%;
}

.projectItemName {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 15px;
}

.projectItemLink {
    width: 50%;
    text-align: center;
    display:block;
    font-weight: 600;
    padding: 10px 40px;
    background-color: #5f5552;
    text-decoration: none;
    color: #dfdfdf;
    margin: 2px auto;
}
.projectItemLink:hover {
    background-color: #0088C9;
    z-index: 1;
    box-shadow: inset 1px 0 5px 0 #222;
}

.projectItemImage {
    margin: 10px auto;
    max-width: 70%;
}