.navbar {
    background-color: #3C3536;
    font-weight: 600;
    width: 100vw;
    height: 50px;
    top: 0;
    z-index: 2;
}

.navbarWrapper {
    padding: 0 20px;
    max-width: 66%;
    margin: 0 auto;
}