body {
  margin: 0;
  padding: 0;
  font-family: roboto,helvetica neue,helvetica,arial,"sans-serif";
  font-size: 16px;
  background-color: #635A5C;
}

.contentWrapper {
  width: 66%;
  background-color: #4C4546;
  margin: 0 auto;
  color: #dfdfdf;
}

